<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>
    <div class="container">
        
            <h2 id="login"> Login Using</h2>
            <div class="middle">
                <a class="btn" href="/auth/facebook" >
                    <i class="fab fa-facebook"></i>
                </a>
                
                <a class="btn" href="/auth/linkedin">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
</body>
</html>